.sell-form {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
}

.sell-form__heading {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.sell-detail__form {
    margin-top: 60px;
}

.sell-detail__heading {
    color: rgba(10, 10, 10, 0.592);
    border-bottom: 1px solid black;
}

.sell-form__inner {
    padding: 20px;
}

#description {
    width: 100%;
    height: 150px;
    padding: 10px;
    resize: vertical;
}

.sell-form__form {
    display: flex;
    flex-direction: column;
}

.sell-form__button {
    width: 160px;
    height: 50px;
    background: white;
    border-radius: 20px;
    border:2px solid red;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 190px;
}

#preview {
        margin-left: 35%;
        transform: scale(2.5);
        width:400px;
        height:80px;
        object-fit: contain;

}

.sell-detail__input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.sell-form__input {
    display: none;
}


.sell-form__label,
.sell-detail__label {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

